.row {
  justify-content: center;
}
.container {
  margin-top: 50px;
  max-width: 1260px;
}
.dropdown{
  margin: 20px 0;
}

.table {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.table thead {
  font-size: 16px;
  font-weight: 700;
  color: #2d2f33;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
}

.page ::ng-deep .el-tag {
  font-size: 26px;
}

::ng-deep .ng-star-inserted {
  font-size: 17px;
}

li {
  list-style: none;
}