<div class="content">
  <div class="left-box">
    <div class="top">
      <img src="../../assets/icon.png" alt="icon">
      <span>红树林水质预测系统</span>
    </div>
    <div class="bottom">
      <h1>登&nbsp;&nbsp;&nbsp;录</h1>
      <h5>没有账号？<a href="/register">注册</a></h5>
      <form class="form-horizontal" method="post" onsubmit="return false;">
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <!-- <img src="../../assets/person.svg" alt="" width="30px" height="30px"> -->
                用户名
              </div>
            </div>
            <input type="text" class="form-control" id="username" name="username">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text ">
                <!-- <img src="../../assets/password.svg" alt="" width="30px" height="30px"> -->
                密&nbsp;&nbsp;&nbsp;&nbsp;码
              </div>
            </div>
            <input type="password" class="form-control" id="password" name="password">
          </div>
        </div>
    
        <div class="form-group">
          <div>
            <button type="button" class="btn btn-block sub-btn">登录</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>