el-menu ::ng-deep .el-submenu__title i {
  color: #fff;
}

.right-nav {
  float: right;
  margin-right: 5%;
}
.right-float ::ng-deep .el-menu-item:last-child {
  float: right;
  margin-right: 5%;
}

::ng-deep .el-menu-item {
  font-size: 16px;
}