.row {
  justify-content: center;
}
.container {
  margin-top: 2%;  
}
.dropdown{
  margin: 20px 0;
}

.table {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.table thead {
  font-size: 20px;
  font-weight: 700;
  color: #2d2f33;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
}

.page ::ng-deep .el-tag {
  font-size: 26px;
  margin-bottom: 1%;
}

li {
  list-style: none;
}