<div class="content">
  <div class="left-box">
    <div class="top">
      <img src="../../assets/icon.png" alt="icon">
      <span>红树林水质预测系统</span>
    </div>
    <div class="bottom">
      <h1>注&nbsp;&nbsp;&nbsp;册</h1>
      <h5>已有账号？<a href="/login">登录</a></h5>
      <form class="form-horizontal" method="post" onsubmit="return false;">
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <!-- <img src="../../assets/person.svg" alt="" width="30px" height="30px"> -->
                邮&nbsp;&nbsp;&nbsp;&nbsp;箱
              </div>
            </div>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <!-- <img src="../../assets/person.svg" alt="" width="30px" height="30px"> -->
                用户名
              </div>
            </div>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text ">
                <!-- <img src="../../assets/password.svg" alt="" width="30px" height="30px"> -->
                密&nbsp;&nbsp;&nbsp;&nbsp;码
              </div>
            </div>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
          </div>
        </div>
    
        <div class="form-group">
          <div>
            <button type="button" class="btn btn-block sub-btn" (click)="register()">注册</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>